:root {
	--purple: rgb(47, 49, 141);
	--light-purple: rgb(149, 127, 239);
	--highlight: rgb(244, 158, 76);
	--white: rgb(245, 245, 255);
	--black: #0A0B1F;

	--medium-text: 16pt;
	--large-text: 20pt;
	--body-text: 12pt;
	--small-text: 10pt;
}

/* Styles */

* {
	box-sizing: border-box;

	margin: 0;
	padding: 0;

	font-family: "Ubuntu", sans-serif;
	text-align: center;
	text-decoration: none;
	color: var(--purple);
}

.large-text {
	font-size: var(--large-text);
	margin: 40px;
}

.medium-text {
	font-size: var(--medium-text);
	margin: 20px;
}

.body-text {
	font-size: var(--body-text);
}

.subtle-text {
	font-size: var(--small-text);
}

.alert-text {
	font-size: var(--medium-text);
	color: var(--highlight) !important;
}

.link-text {
	color: blue;
	text-decoration: underline;
}

.link-text:hover {
	cursor: pointer;
}

.link:hover {
	cursor: pointer;
}

/* Containers */

.content-column {
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
}

.content-boxes-container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.content-box {
	min-height: 300px;
	width: 500px;
	margin: 50px;
	border: 1pt solid var(--purple);
}

.content-box--large {
	width: 800px;
	height: 600px;
}

.content-box__image {
	height: 100%;
	background-image: url("../img/head\ massage\ person.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

@media (max-width: 1199px) {
	.content-column {
		max-width: 800px;
	}
}

@media (max-width: 768px) {
}
