:root {
	--purple: rgb(47, 49, 141);
	--white: rgb(245, 245, 255);
}

* {
	box-sizing: border-box;

	margin: 0;
	padding: 0;

	font-family: "Ubuntu", sans-serif;
	text-align: center;
	text-decoration: none;
	color: var(--purple);
}

h1 {
}

h2 {
	font-size: 20pt;
	margin: 40px;
}

h3 {
	font-size: 16pt;
	margin: 20px;
}
