/* Slideshow */

.home-slideshow__container {
	display: grid;
}

.home-slideshow__image {
	grid-column: 1;
	grid-row: 1;

	object-fit: cover;
	width: 100vw;
	height: 350px;

	animation-name: fade;
	animation-iteration-count: infinite;
	animation-duration: 12s;
}

@-webkit-keyframes fade {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
	33% {
		opacity: 1;
	}
	53% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fade {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
	33% {
		opacity: 1;
	}
	53% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

.home-slideshow__image-1 {
}
.home-slideshow__image-2 {
	-webkit-animation-delay: -8s;
}
.home-slideshow__image-3 {
	-webkit-animation-delay: -4s;
}

/* Section Dividers */

.section-divider {
	margin: 40px 0;
}

.section-divider__header {
	min-width: 200px;
	max-width: fit-content;
	padding: 6px 15px;
	margin: 0 auto;
	position: relative;

	border: 1pt solid var(--purple);
	border-radius: 25px;
	background-color: white;
}

.section-divider__horizontal-line {
	height: 1px;
	background-color: var(--purple);
	transform: translateY(20px);
}

/* Containers */

.content-box__image--diploma-training {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	background-image: url("../img/1F332280-6C5E-6F3B-A66D-F2141DF815A7.jpg");
}

.diploma-training__label {
	width: 60%;
	height: 20%;
	margin: 0 auto;

	box-shadow: 1px 1px black;
	border-radius: 6px;

	background-color: var(--purple);
	color: var(--white);

	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.diploma-training__label:hover {
	cursor: pointer;
}

.diploma-training-card__label-text {
	font-size: 20pt;
	color: var(--white);
	text-shadow: 1px 1px black;
}

.recruitment-card__inline-logo {
	height: 40px;
}

.event-banner {
	margin: 40px 0;
	padding: 10px;
	background-color: var(--purple);
}

.event-banner__event-details {
	margin: 40px;
}

.event-banner__text {
	margin: 0;
	color: var(--white);
	text-shadow: 1px 1px black;
}

.event-banner__text--large {
	font-size: var(--large-text);
}

.event-banner__text--medium {
	font-size: var(--medium-text);
}

.event-banner__button {
	width: fit-content;
	padding: 10px 20px;
	margin: 10px auto;

	border-radius: 6px;

	background-color: var(--highlight);
	box-shadow: 1px 1px black;
	cursor: pointer;
}

.content-box__image--head-maassage {
	background-image: url("../img/head\ massage\ person.png");
	object-fit: cover;
}

.content-box__massage-links {
	padding: 120px 100px;
}

.massage-card__button {
	display: block;
	margin: 30px auto;
	width: 250px;
	padding: 10px;
	border: 2pt solid var(--highlight);
	background-color: white;
}
