/* Arrangement */

#navbar {
	display: flex;
	background-color: var(--white);
}

#logo {
	height: 90px;
}

#navbar-central-column {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
}

#navbar-buttons-container {
	display: flex;
	justify-content: stretch;
}

.navbar-button {
	flex-grow: 1;
	font-size: 10pt;
}

#title-text-container {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#title-text {
	text-align: left;
}

/* Decoration */

#navbar-container {
	box-shadow: 0px 0px 5px 2px rgb(52 39 113 / 70%);
	background-color: var(--white);
}

#title-text {
	font-size: 26pt;
}

.navbar-button:hover {
	text-decoration: underline;
	cursor: pointer;
}

.navbar-button.active {
	background-color: var(--purple);
	color: var(--white);
	border-radius: 3px 3px 0 0;
}

/* Hamburger Menu */

#hamburger-menu {
	display: none;
}

.hamburger-line {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	border-radius: 25%;
	background-color: var(--purple);
}

@media (max-width: 1199px) {
	#hamburger-menu {
		display: block;
		cursor: pointer;

		margin: auto 0;
		width: 80px;
	}

	#navbar-buttons-container {
		position: fixed;
		right: -100%;
		top: 5.7rem;

		flex-direction: column;
		transition: 0.2s;

		text-align: center;
		background-color: var(--white);
	}

	.navbar-button {
		border: 1pt solid var(--purple);
		padding: 10px 60px;
	}

	#navbar-buttons-container.active {
		right: 0;
		transition: 0.2s;
	}
}

@media (max-width: 768px) {
	
	#title-text {
		font-size: 18pt;
	}
}